body{
    background-image: url(https://assets.architecturaldigest.in/photos/63873323ede7689cfd6d7c34/16:9/w_2560%2Cc_limit/ankith-choudhary-cuSxLpxuARA-unsplash.png);
    text-align: center;
}

.btn{
    color: white;
    background-color: skyblue;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100px;
}
button:hover{
    background: #218838;
}
div{
    background-color: transparent;
    text-align: center;
}
header nav{
    background-color: blue;
    text-align: center;
}
header nav a{
    color:white;
    text-align: center;
    text-decoration: none;
}
header nav a:hover{
    text-decoration: underline;
}
